* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

h1 {
    padding: 2em;
}

nav {
    border-top: solid 0.1em #ccc;
    border-bottom: solid 0.1em #ccc;
    padding: 1.5em;
}
header ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin:0 auto;
}

header li {
    list-style-type: none;
}

header a {
    text-decoration: none;
}

main section {
    margin: 0 1em;
}

h2 {
    margin-top: 2em;
}

h3 {
    margin: 1em auto;
}

 p {
     line-height: 2em;
 }

aside {
    display: none;
}
