* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

h1 {
    padding: 2em;
}

header ul {
    display: flex;
    justify-content: center;
}

header li {
    list-style-type: none;
}
